{% extends "admin/login.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'yummytummy_store/css/jet-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yummytummy_store/css/admin-login.css' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img src="{% static 'yummytummy_store/img/logo.svg' %}" alt="YummyTummy" style="max-height: 60px; margin-right: 10px;">
        <span>YummyTummy Admin</span>
    </h1>
{% endblock %}
